<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <style>
        .container {
            position: relative;
            border: 1px solid #cecece;
            padding: 15px;
            z-index: -1;
            margin-bottom: 10px;
        }

        .legend {
            position: absolute;
            top: -10px;
            background-color: white;
        }

        .tx {
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
            margin-left: 80px;
        }
    </style>
</head>
<body style="padding: 10px;" ng-app="app2">
<div ng-controller="UserCtrl">
    <form name="f" ng-submit="register(user)">
        <div class="container">
            <span class="legend">基本信息</span>
            <img ng-src="{{user.icon}}" ng-if="user.isShowImg" ng-class="{'tx':user.showicon}">
            <input type="text" class="form-control" ng-model="user.uname" placeholder="用户名" required>
            <input type="text" class="form-control" placeholder="密码">
            职位：
            <select>
                <option value="">--请选择</option>
                <option value="1" ng-selected="user.position=='1'">JAVA工程师</option>
                <option value="2" ng-selected="user.position=='2'">.NET工程师</option>
            </select><br>
            性别：
            <input type="radio" ng-checked="user.sex=='1'" name="sex">&nbsp;男&nbsp;
            <input type="radio" ng-checked="user.sex=='0'" name="sex">&nbsp;女&nbsp;
        </div>

        <div class="container">
            <span class="legend">爱好：</span>
            <input type="checkbox" ng-checked="isChecked(1)" name="ai">&nbsp;篮球&nbsp;
            <input type="checkbox" ng-checked="isChecked(2)" name="ai">&nbsp;足球&nbsp;
            <input type="checkbox" ng-checked="isChecked(3)" name="ai">&nbsp;排球&nbsp;
        </div>

        <button type="submit" class="btn btn-primary" ng-disable="f.$invalid">提交</button>
    </form>
</div>
</body>
<script src="//cdn.bootcss.com/angular.js/1.5.8/angular.min.js"></script>
<script src="js/app.js"></script>
</html>