.learn-title-nav {
    /*
    On block level elements,
    the line-height property specifies the
    minimum height of line boxes within the element.
     */
    line-height: 64px;
}

.learn-title-nav a {
    color: #747474;
}

.learn-course-banner-ios {
    background: url("../images/learnCourseVideoTop.jpg");
    height: 100px;
}

.learn-title-des .learn-tile {
    font-size: 24px;
    color: #fff;
    padding: 13px 0 0 26px;
}

.learn-title-des .learn-des {
    font-size: 14px;
    color: #929191;
    padding: 6px 26px 0 26px;
}

.learn-video {
    width: 1000px;
    height: 560px;
}

.learn-video-info {
    height: 84px;
    background: #101213;
    line-height: 84px;
}

.learn-video-info .left {
    width: 50%;
    float: left;
}

.learn-video-info .left p {
    float: left;
    padding-left: 38px;
    font-size: 14px;
}

.learn-video-info .left p a {
    color: #1abc9c;
}

.learn-video-info .right {
    float: right;
    height: 84px;
    width: 350px;
    position: relative;
    margin-right: 40px;
}

.learn-video-info .right .rightnum {
    width: 260px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.learn-video-info .right .rightnum a {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: #1d1d1d;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    margin: 0 6px;
    position: relative;
}

.learn-video-info .right .rightnum a:hover {
    width: 36px;
    height: 36px;
    border: 2px solid #29bb9c;
    font-size: 14px;
    line-height: 36px;
}

.video-list {
    margin-top: 20px;
}

.video-list .list-left {
    width: 250px;
    height: auto;
    float: left;
}

.video-list .left {
    background: #fff;
    padding: 20px;
}

.time {
    font-size: 14px;
    color: #727272;
    line-height: 50px;
}

.video-list .left .title b {
    color: #19253a;
    font-size: 16px;
    line-height: 50px;
}

.video-list .left .content {
    font-size: 14px;
    color: #727272;
    padding-bottom: 20px;
}

.video-list .left .b {
    width: 210px;
    height: 45px;
    background: #b8b8b8;
    text-align: center;
    line-height: 45px;
    color: #fff;
    font-weight: 700;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
}

.video-list .left .b-cource {
    background: #fc6621;
}

.video-list .teacher-info{
    width: 210px;
    padding: 20px;
    background: #fff;
    height: auto;
    overflow: hidden;
    margin-top: 20px;
}
.video-list .teacher-info .teacher-img{
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    /* Content is clipped, with no scrollbars*/
    overflow: hidden;
}

.video-list .teacher-info .teacher-name{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 5px auto;
}

.video-list .teacher-info .teacher-des{
    font-size: 14px;
    color: #cecece;
}

.video-list .right{
    width: 666px;
    float: right;
    background: #fff;
    padding: 0 30px;
}

.video-list .right .list-question{
    width: 600px;
    margin: 10px auto;
}

.video-list .right .list-question span{
    display: block;
    width: 200px;
    cursor: pointer;
    padding-bottom: 20px;
    text-align: center;
    float: left;
    margin-right: 100px;
    font-weight: 700;
    font-size: 24px;
    color: #727272;
}

.video-list .right .list-question span.bottomline{
    border-bottom: 3px solid #23BA98;
    color: #19253a;
}

.video-list .right .list-content{
    margin-top: 20px;
}

.video-list .right .list-content .lists .question .reply-name-time{
    margin-top: 10px;
}

.video-list .right .list-content .lists .question .reply-name-time .reply-name{
    font-size: 16px;
    margin-right: 5px;
}

.video-list .right .list-content .lists .question .reply-name-time .reply-time{
    color: #cecece;
    font-size: 12px;
}

.video-list .right .list-content .lists .question .replynum{
    float: right;
}

.video-list .right .list-content .lists .question .replynum p{
    color: #cecece;
    font-size: 10px;
}

.video-list .right .list-content .lists .question .replynum .topbottom .replynumtop{
    color: #3F51B5;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}



.video-list .right .list-content .lists .reply-img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}

